## Decision Trees
![dtree](img/d_tree.png)

- we can create a decision tree from variables. 
    - In this example we wish to create a decision tree from occupation and genter such that we can try to choose the best recomended app. 
    - a good strategy is to choose the variable which has the least edges to end . 
    - here we choose the node occupation as school imidiatly recomends an app pokenmon go
    - occupation also leads to work node. The work node leads to the gender variable. 
    - the gender variable leads to female male node which will help us choose a reconded app.

## we can do the same with continous variables 

![d_tree_cont](img/d_tree_cont.png)

- in this example we have grades vs test. Blue dots represent those who are admited. Red dots are those who were not admited
- this graph can be seperated by a vertical line where most of those who were admited on the right (x >= 5 ) and most of those who where on the left were not admited ( x < 5 )
    - with this information we can begin to build a decision tree again we chose the variable which splits out data best in this case test. so our first node is test
    - from test we have two node if test is >=5 then we can look at thier grades  if grades are >= 2 admit else reject
    - the second node in test is if test < 5 if we then look at the next node its grades the line that splits the test best is 7 so if grades is <= 7 admit else reject 

- entropy: one way to look at it is homogenaity, a set that is homogenous has low entropy and high know alternatively a set that has not homogenous with have higher entropy and low knowlage, this is not an exact def but a good way to think about entropy. 

- we can use the log(x) to to change from products of number to sum of number that is $\log_{2}{ab}=\log_{2}{a} + \log_{2}{b}$


$entropy=-\left(\frac{p_1}{p_1 + p_2 + \dots + p_n}\right)\log_2{\left(\frac{p_1}{p_1 + p_2 + \dots + p_n}\right)}-\dots-\left(\frac{p_n}{p_1 + p_2 + \dots + p_n}\right)\log_2{\left(\frac{p_n}{p_1+p_2+ \dots +p_n} \right)}$

$entropy=-\sum_i^n\left(\frac{p_i}{\sum_j^np_j} \right)\log_2{\left(\frac{p_i}{\sum_j^np_j} \right)}$

$entropy=-\sum_i^nprob_i\log_2{(prob_i)}$

If we have a bucket with eight red balls, three blue balls, and two yellow balls, what is the entropy of the set of balls? Input your answer to at least three decimal places. we can calculate this using the formula above 

https://www.wolframalpha.com/input/?i=-(8%2F13)log_2(8%2F13)-(3%2F13)log_2(3%2F13)-(2%2F13)log_2(2%2F13)
1.33467914105159458006133443642258323160694076924661866327944368248721713406509640110377334376159607120085342493875...
$information\_gain=Entropy(parent) - (\frac{m}{m+n}Entropy(child1) + \frac{n}{m+n}Entropy(child2))$ 

where m and n are the size of the group. 

- we can build the recomneded apps decision tree by choosing variables which net the highest information gain. 
    - first calculate entropy of the parent (apps) 
    
    $entropy\_parent=-\frac{3}{6}\log_2{(\frac{3}{6})}-\frac{2}{6}\log_2{(\frac{2}{6})}-\frac{1}{6}\log_2{(\frac{1}{6})}$
    
    $entropy\_parent = 1.46$
- now we calculate the information gain for both gender and occupation and choose the variable with the highest information gain

gender: 

$entropy\_male=-\frac{1}{3}\log_2{\left(\frac{1}{3}\right)}-\frac{2}{3}\log_2{\left(\frac{2}{3}\right)}$

$entropy\_male= 0.92$

$entropy\_female=-\frac{1}{3}\log_2{\left(\frac{1}{3}\right)}-\frac{2}{3}\log_2{\left(\frac{2}{3}\right)}$

$entropy\_female= 0.92$

$information\_gain=1.46 -\left(\frac{3}{6}0.92 + \frac{3}{6}0.92\right)$

$information\_gain=0.54$

occupation: 

$entropy\_study=-\frac{3}{3}\log_2{\left(\frac{3}{3}\right)}$

$entropy\_study=0$

$entropy\_work=-\frac{1}{3}\log_2{\left(\frac{1}{3}\right)}-\frac{2}{3}\log_2{\left(\frac{2}{3}\right)}$

$entropy\_work=0.92$

$information\_gain=1.46-\left(\frac{3}{6}0 + \frac{3}{6}0.92\right)$

$information\_gain=1$

- hence we should choose occupation as the first parent child nodes. we can repeat this proccess to complete the tree. 
- one problem with decision trees is overfitting. We can fix this problem by using a random forests. We can randomly choose a few variable and create several trees. 

![random-for](img/random_forest.png)

- we let all the tree make a decision and simply choose the decision which is made the most by the random forest. 

Hyperparameters: different aspects of a decision tree

    maximum depth of tree
    minimum number of samples per leaf
    minimum number of samples per split
    maximum number of features

In [12]:

# Import statements 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import os

file_path = os.path.join(os.path.pardir, 'data', 'd_tree_data.csv')

# Read the data.
data = np.asarray(pd.read_csv( file_path , header=None))
# Assign the features to the variable X, and the labels to the variable y. 
X = data[:,0:2]
y = data[:,2]

# TODO: Create the decision tree model and assign it to the variable model.
# You won't need to, but if you'd like, play with hyperparameters such
# as max_depth and min_samples_leaf and see what they do to the decision
# boundary.
model = DecisionTreeClassifier()  
#(max_depth = 5, min_samples_leaf=3, min_samples_split=4, max_features = 2)
model.fit(X, y)

# TODO: Fit the model.

# TODO: Make predictions. Store them in the variable y_pred.
y_pred = model.predict(X)

# TODO: Calculate the accuracy and assign it to the variable acc.
acc = accuracy_score(y, y_pred)

## Titanic Survival Exploration

In [14]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames
import os

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
in_file = os.path.join(os.path.pardir, 'data', 'titanic_train.csv')
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Recall that these are the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `outcomes`. We will use these outcomes as our prediction targets.  
Run the code cell below to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [15]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = full_data['Survived']
features_raw = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(features_raw.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
# Now, let's do some data preprocessing. First, we'll one-hot encode the features.
features = pd.get_dummies(features_raw)

In [17]:
# And now we'll fill in any blanks with zeroes.
features = features.fillna(0.0)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

In [19]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

# TODO: Define the classifier, and fit it to the data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [20]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

('The training accuracy is', 1.0)
('The test accuracy is', 0.7988826815642458)

# Exercise: Improving the model

Ok, high training accuracy and a lower testing accuracy. We may be overfitting a bit.

So now it's your turn to shine! Train a new model, and try to specify some parameters in order to improve the testing accuracy, such as:
- `max_depth`
- `min_samples_leaf`
- `min_samples_split`

You can use your intuition, trial and error, or even better, feel free to use Grid Search!

**Challenge:** Try to get to 85% accuracy on the testing set. If you'd like a hint, take a look at the solutions notebook next.

In [38]:
from sklearn.model_selection import GridSearchCV
# TODO: Train the model
param_grid = {'max_depth' : np.arange(1,10),
           'min_samples_leaf': [2,4,8,16,32],
           'min_samples_split' :[2,4,8,16,32]}
model = GridSearchCV(DecisionTreeClassifier(), param_grid)

# TODO: Make predictions
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# TODO: Calculate the accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

('The training accuracy is', 0.8202247191011236)
('The test accuracy is', 0.7988826815642458)

In [39]:
model

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': [2, 4, 8, 16, 32], 'max_depth': array([1, 2, 3, 4, 5, 6, 7, 8, 9]), 'min_samples_leaf': [2, 4, 8, 16, 32]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)